.cesped{
	width:1000px ;
	height:499px;
	background-color: #8CB27C;
	position: relative;
	border: 1px solid #fff;
	padding: 25px;
	box-sizing: border-box;
}
.borde{
	border: 4px solid #fff;
	height: 100%;
	width: 100%;
	position: relative;
}
	
.uno{
	border: 4px solid #fff;
	width: 120px;
	height: 197px;
	top:145px;
	position: absolute;
	right:17px;
}

.dos{
border: 4px solid #fff;
	width: 120px;
	height: 197px;
	top:145px;
	position: absolute;
	left:25px;
}

.circulo{
     width: 200px;
     height: 200px;
     border: 4px solid #fff;
     -moz-border-radius: 100%;
     -webkit-border-radius: 100%;
     border-radius:100%;
     border-color:#fff;
     position: relative;
    top:-340px;
    left:350px;
}

div.one img{
	position: relative;
	bottom:548px;
	left:102px;
}

div.two img{
	position: relative;
	bottom:630px;
	left:450px;
}

div.three img{
	position: relative;
	bottom:450px;
	left:800px;
}